.App{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  grid-template-rows: 50% 1fr;
}

/*button*/

.mainButton{
  width: 300px;
  height: 70px;
  background-color: deepskyblue;
  border:none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  align-self: start;
}

.mainButton:hover{
  background-color: #00b3f3;
}

.mainButton:active{
  background-color: #03a7e1;
}

/*button end*/